<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <main>
    <div class="content-wrapper">

      <h1>Results for   <%= @search_term %></h1>
    </div>
    <% if (@idea.any?) %>
    <div class="content-wrapper">
      <ul class="bare-list float-grid css-grid">
        <% @idea.each do |title| %>
        <li>
          <%= render(partial: 'idea_card', locals: {card_title: title.title, done_count: title.done_count, photo_url: title.photo_url,idea: title}) %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="see-more">
      <button class="btn" type="button" data-more="true">See more</button>
    </div>
    <% else %>
    <h3> No Ideas Found </h3>
    <% end %>
  </main>

</body>
</html>
