<%   @idea.each do |item| %>
<li>
  <div class="card">
    <div class="card__thumb">
      <a href="">
        <img src=<%= item.photo_url %> alt="Northern lights over mountain covered in snow">
      </a>
      <div class="card__intro">
        <h4 class="card__title"><%= item.title %> </h4>
        <span><%= item.done_count %> have done this</span>
      </div>
    </div>
    <div class="card__footer">
      <button class="btn delta" type="submit">
        <svg class="icon-delete" role="presentation">
          <use xlink:href=""></use>
        </svg>
        Delete
      </button>
      <a class="btn delta" href=<%= edit_ideas_path(item) %>>
        <svg class="icon-edit" role="presentation">
          <use xlink:href=""></use>
        </svg>
        Edit
      </a>
    </div>
  </div>
</li>
<% end %>
