<div class="logo">
  <a href="/"><span><i>My</i> Bucket List</span></a>
</div>
<h3>Negative logo</h3>
<p>Used on dark background, like in the site footer.</p>
<div class="sg-dark-bg">
  <div class="logo logo--inverted footer__logo">
    <a href="/"><span><i>My</i> Bucket List</span></a>
  </div>
</div>
