<div class="sg-dark-bg">
  <nav class="footer__navigation">
    <ul>
      <li><a href="#nolink">About</a></li>
      <li><a href="#nolink">Style Guide</a></li>
      <li><a href="#nolink">Terms of Use</a></li>
    </ul>
  </nav>
</div>
